<p>video-player works!</p>
<!-- <vg-player>
  <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
    <source
      src="http://static.videogular.com/assets/videos/videogular.mp4"
      type="video/mp4"
    />
  </video>
</vg-player> -->

<!-- <vg-player>
  <vg-overlay-play vgFor="my-video"></vg-overlay-play>

  <video
    #media
    [vgMedia]="$any(media)"
    height="500px"
    width="500px"
    poster=""
    id="singleVideo"
    preload="auto"
    controls
  >
    <source
      src="https://www.youtube.com/watch?v=-wXfJvb9Ae0"
      type="video/mp4"
    />
  </video>
</vg-player> -->
<div class="container">
  <vg-player>
    <vg-overlay-play (click)="updateModalViewStatus()"></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
      <vg-play-pause (click)="updateModalViewStatus()"></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video
      [vgMedia]="$any(media)"
      #media
      id="singleVideo"
      src="../../../assets/video1.mov"
      preload="auto"
      crossorigin
    >
      <!-- <source src="src/assets/video1.mov" /> -->
      <!-- <source
            src="http://static.videogular.com/assets/videos/videogular.ogg"
            type="video/ogg"
          />
          <source
            src="http://static.videogular.com/assets/videos/videogular.webm"
            type="video/webm"
          /> -->

      <!-- <track
            kind="subtitles"
            label="English"
            src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
            srclang="en"
            default
          />
          <track
            kind="subtitles"
            label="Español"
            src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
            srclang="es"
          /> -->
    </video>
  </vg-player>
</div>
